/.ipynb_checkpoints
backup
/BBO_Volumes.html
/bookAt2000.html
/formattedBidAndAsk.json
/interactive_book.html
/limit_order_books.html
/overview.html
/python appendix_raw.pdf
/risk.html
session2or3
session4dataExcel
slides
/snapshots.json
/spread_and_transactions.html
/spread_percentage.html
/surfacePlot.html
/trading.xlsx
/volume.json
/vwap.html